<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
</head>

<body>
    <center>


        <h2>Download the YouTube Video In your phone memory!</h2>
        <h3>Paste the URL of the YouTube vidoe you want to Download in the box below!</h3>
        <br>
        <br>
        <form method="POST" action="">
            <input type="text" name="url" id="url">
            <button type="submit"> Download </button>
        </form>

        {% if eval==1 %}
        <script>
            alert('Cannot Download the videos! Error Occured is {{e}}')
        </script>
        {%endif%}

        {% if eval==0 %}
        <script>
            alert('Download Successful!');
            document.getElementById('url').value = "";
        </script>
        {%endif%}
    </center>
</body>

</html>